body {
  background-color: silver;
  color: white; 
  text-shadow: 1px 9px 20px black;
  display: flex; 
  justify-content: center;
  align-items: center;
  border: 10px solid orangered;
  width: 55%;
  margin: 45px auto;
  animation: borders infinite 1s linear
}

.App .underline{
  text-decoration: underline 10px solid orangered;
}

@keyframes borders {
  100% {
    border: 10px solid black
  }
}
